name: check-code
on: [push, pull_request]

jobs:
  build:
    name: Check
    runs-on: ubuntu-latest
    env:
      GO111MODULE: on

    steps:

    - name: Set up Go 1.x
      uses: actions/setup-go@v3
      with:
        go-version: '1.22'

    - name: Check out code into the Go module directory
      uses: actions/checkout@v3

    - name: vet
      run: make vet

    - name: static
      run: make static

    - name: verify
      run: make tagverify

    - name: unit
      run: make testunit
